.about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    padding:100px 8%;
    background:linear-gradient(135deg,#161b22,#0d1117);
    color:#fff;
}

.about-image img{
    width:350px;
    height:350px;
    border-radius:50%;
    border:6px solid #f97316;
    box-shadow:0 0 40px rgba(249,115,22,.6);
    object-fit:cover;
    transition:.5s ease;
    animation:floatImage 4s ease-in-out infinite;
}

.about-image img:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #f97316,
               0 0 60px rgba(249,115,22,.7);
}

.about-content{
    max-width:650px;
}

.about h2{
    font-size:48px;
    margin-bottom:15px;
}

.about h3{
    font-size:26px;
    color:#f97316;
    margin-bottom:20px;
    font-weight:600;
}

.about span{
    color:#f97316;
}

.about p{
    color:#c9d1d9;
    line-height:1.9;
    font-size:16px;
}

/*================ TABLETS =================*/

@media(max-width:992px){

.about{
    gap:50px;
    padding:80px 6%;
}

.about-image img{
    width:300px;
    height:300px;
}

.about h2{
    font-size:40px;
}

.about h3{
    font-size:22px;
}

.about p{
    font-size:15px;
}

}

/*================ MOBILE =================*/

@media(max-width:768px){

.about{
    flex-direction:column;
    text-align:center;
    gap:40px;
    padding:70px 7%;
}

.about-content{
    max-width:100%;
}

.about-image img{
    width:260px;
    height:260px;
}

.about h2{
    font-size:34px;
}

.about h3{
    font-size:20px;
}

.about p{
    font-size:15px;
    line-height:1.8;
}

}

/*================ SMALL PHONES =================*/

@media(max-width:480px){

.about{
    padding:60px 5%;
}

.about-image img{
    width:220px;
    height:220px;
}

.about h2{
    font-size:28px;
}

.about h3{
    font-size:18px;
}

.about p{
    font-size:14px;
    line-height:1.7;
}

}