.hero {
  min-height: 100vh;
  background: #112e42;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

.hero-text {
  max-width: 550px;
}

.hero h1 {
  font-size: 60px;
}

.hero h2 {
  margin: 15px 0;
}

.hero span {
  color: #00eeff;
}

.hero p {
  margin: 20px 0;
  line-height: 1.6;
}

.hero button {
  background: #00eeff;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 5s ease;
  animation: floatButton 4s ease-in-out infinite;

}

.hero button a{
  text-decoration: none;
   color: #081b29;
   font-weight: bold;
}

.hero button:hover {
  transform: scale(1.08) rotate(2deg);
  box-shadow: 0 0 30px #0ef, 0 0 60px #0ef, 0 0 90px #0ef;
}

.hero-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 6px solid #00eeff;
  box-shadow: 0 0 40px #00eeff;
  object-fit: cover;
  transition: all 5s ease;
  animation: floatImage 4s ease-in-out infinite;
}

.hero-image img:hover {
  transform: scale(1.08) rotate(2deg);
  box-shadow: 0 0 30px #0ef, 0 0 60px #0ef, 0 0 90px #0ef;
}