.hero {
    min-height: 100vh;
    background: #112e42;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 100px 8% 50px;
}

.hero-text {
    max-width: 550px;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.2;
}

.hero h2 {
    margin: 15px 0;
    font-size: 32px;
}

.hero span {
    color: #00eeff;
}

.hero p {
    margin: 20px 0;
    line-height: 1.8;
    font-size: 16px;
}

.hero button {
    background: #00eeff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease;
    animation: floatButton 4s ease-in-out infinite;
}

.hero button a {
    text-decoration: none;
    color: #081b29;
    font-weight: bold;
}

.hero button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px #0ef,
                0 0 60px #0ef;
}

.hero-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 6px solid #00eeff;
    box-shadow: 0 0 40px #00eeff;
    object-fit: cover;
    transition: .5s ease;
    animation: floatImage 4s ease-in-out infinite;
}

.hero-image img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 30px #0ef,
                0 0 60px #0ef;
}

/* Floating Animations */

@keyframes floatImage{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }

}

@keyframes floatButton{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-8px);
    }

    100%{
        transform: translateY(0);
    }

}

/*================ TABLETS =================*/

@media (max-width: 992px){

.hero{
    padding: 100px 6% 50px;
    gap: 40px;
}

.hero h1{
    font-size: 48px;
}

.hero h2{
    font-size: 28px;
}

.hero-image img{
    width: 300px;
    height: 300px;
}

}

/*================ MOBILE =================*/

@media (max-width: 768px){

.hero{
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    gap: 40px;
    padding: 120px 7% 60px;
}

.hero-text{
    max-width: 100%;
}

.hero h1{
    font-size: 40px;
}

.hero h2{
    font-size: 24px;
}

.hero p{
    font-size: 15px;
}

.hero-image img{
    width: 260px;
    height: 260px;
}

}

/*================ SMALL PHONES =================*/

@media (max-width: 480px){

.hero{
    padding: 110px 5% 50px;
}

.hero h1{
    font-size: 32px;
}

.hero h2{
    font-size: 20px;
}

.hero p{
    font-size: 14px;
}

.hero button{
    padding: 10px 24px;
}

.hero-image img{
    width: 220px;
    height: 220px;
}

}