*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #081b29;
  position: fixed;
  width: 100%;
  animation:slidedown 2s ease;
}
@keyframes slidedown{
    from{
        opacity: 0;
        transform: translateY(-60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: .4s;
}
/* .nav-links a::after{
    content: "";
    position: absolute;
    bottom: -6px;
    width: 0;
    height: 3px;
} */

.nav-links a:hover {
  color: #00eeff;
}